@page
@model CadionWebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<center style="position:center; top:-45%; left:40%;  ">
    <h1>Vape Store</h1>
    <form method="post" asp-page-handler="Log">
        <input name="Username" placeholder="Username" />
        <input name="Password" placeholder="Password" />
        <button type="submit">LOGIN</button>
        <div class="remember-forgot">
            <label><input type="checkbox" >Remember Me</label>
            <a href="#">Forgot Password</a>
        </div>
        <div class="register-link">
            <p>Dont have an account? <a href="#">Register</a> </p>
        </div>
    </form>
    @foreach (var a in Model.list)
    {

        <form method="post" asp-page-handler="Ver">
            <input hidden name="Class" value="@a.Class" />
            <h1>@a.Class ? </h1>
            <button type="submit" class="btn btn-outline-primary">CONFIRM</button>
          
        </form>
    }
</center>
