@page
@model CadionWebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<center style="position:center; top:40%; left:-30%;">
    <h1>VAPE STORE</h1>
    <form method="post" asp-page-handler="Log">
        <input name="Username" placeholder="Username" />
        <input name="Password" placeholder="Password" />

        <button type="submit">LOGIN</button>
    </form>
    @foreach (var a in Model.list)
    {


        <form method="post" asp-page-handler="Ver">
            <input hidden name="Class" value="@a.Class" />
            <h3>You are an @a.Class ? </h3>
            <button type="submit" class="btn btn-outline-primary">CONFIRM</button>
          
        </form>
    }
</center>
